#MariaDB
MYSQL_ROOT_PASSWORD=change_for_a_secure_password
MYSQL_ROOT_HOST=localhost                         # wildcard for root permissions `example: root@localhost or root@%`. % is not recommended
MYSQL_USER=change_for_your_favorite_admin_user
MYSQL_PASSWORD=change_for_a_secure_password

#NginxProxyManager
DISABLE_IPV6=true # used if you uncomment param of nginx service on docker-compose.yml

#PhpMyAdmin
PMA_HOST=mariadb  # this is the service name of Mariadb service on docker-compose.yml
